body {
    padding: 0;
    margin: 0;

}

.main {
    background-color: #f0f2f5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.containt {
    margin-top: -75px;
    margin-left: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 75%;
}

.logo img {
    width: 320px;
    margin-bottom: -35px;
    height: 106px;
}

h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.login-form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form form {
    border-radius: 8px;
    display: flex;
    margin-left: -45px;
    margin-top: 80px;
    width: 78%;
    height: 57.6%;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    align-items: center;
}

.inp {
    width: min-content;
}

.inp input {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin: 6px 0px;
    outline: none;
}

input:focus {
    border-color: #1877f2;
}

.log-btn {
    width: 100%;
    text-align: center;
    margin: -13px 0px 0px 0px;
}

#login-btn {
    width: 95%;
    height: 40px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 9px 0px;
}

#new-ac {
    background-color: #42b72a;
    height: 45px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.frgt-pswd {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-top: -7px;
}

.frgt-pswd a {
    text-decoration: none;
    color: #1877f2;
    cursor: pointer;
    font-family: halvatica, arial;
    font-weight: 500;
}

.frgt-pswd a:hover {
    text-decoration: underline;
}

.hr-line {
    width: 95%;
    margin-top: -10px;
    border-bottom: 1px solid #dadde1;
}

.btn-cr-ac {
    text-align: center;
}

.cr-page {
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 28px;
    margin-right: 30px;
}

.cr-page a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.cr-page a:hover {
    text-decoration: underline;
}

.page-footer {
    margin: 20px auto 0 auto;
    width: 980px;
}
.lang ul {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0;
}

.lang ul li {
display: inline-block;
}
.lang ul li a {
    text-decoration: none;
    color: #737373;
    margin: 0px 13px 0px 0px;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}
.lang-hr-line{
    border-bottom: 1px solid #dddfe2;
    height: 8px;
}
.child-footer {
margin-top: 8px;
overflow: hidden;
}
.child-footer ul{
    list-style-type:none ;
    margin: 0 0;
    padding: 0;
}
.child-footer ul li{
    float: left;
   margin: 3px 24px 0px 0px;
}
.child-footer ul li a{
    text-decoration: none;
    text-decoration: none;
    color: #737373;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.t-mark{
    margin: 20px 0 20px 0;
    color: #737373;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
}